<div class="hero-section">
  <div class="overlay">
    <div class="text-content">
      <h1>Bienvenue sur notre plateforme de Coworking Space 👩‍💻👨‍💻</h1>
      <p>
        Notre espace de coworking est spécialement conçu pour répondre aux besoins des freelances, étudiants et startups en quête
        d’un environnement calme, connecté et collaboratif. Réservez facilement votre espace de travail, gérez vos horaires, et payez en ligne.
        Accédez à un espace moderne équipé avec Wi-Fi, climatisation, salles de réunion et plus encore 🚀
      </p>
    </div>
  </div>
  <img src="assets/images/coworking.jpg" alt="Espace Coworking" class="background-img" />
</div>
